# Auto detect text files and perform LF normalization
* text=auto
*.bat text eol=crlf
*.jpg -text -diff -delta
*.png -text -diff -delta
*.webp -text -diff -delta
.gitattributes export-ignore  
.gitignore export-ignore
.vscode export-ignore
assets export-ignore
zipme.sh export-ignore
